* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color:white;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	background-color: black;
	width: 800px;
	height: 600px;
	border: solid 10px crimson;
}

#score-canvas {
	background-color:brown;
	width: 800px;
	height: 100px;
	border: solid 7px crimson
}
